
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
/*BODY-SECTION*/
.body-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    row-gap: 17px;
}
.shipping-headlines {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    height: 100%;
}
.shipment-content-data {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    row-gap: 17px;
}
.shipment-receipt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shipment-text-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.receipt-section {
    display: flex;
    align-items: center;
    column-gap: 7.5px;
    color: rgba(13, 14, 53, .7);
    font-weight: 400;
    border-radius: 5px;
}
.receipt-section label {
    color: rgba(13, 14, 53, .7);
    font-size: 38.2px;
    font-weight: 400;
    border-radius: 5px;
}
.receipt-section img {
    width: 32px;
}
.modification-container {
    background-color: rgba(64, 155, 3, 0.7);
    padding: 5px 12px;
    box-shadow: 0 0 2px rgba(252, 252, 252, 0.8);
    border-radius: 5%;
    font-weight: 600;
}
.modification-container p{
    color: rgba(255, 255, 255, 1);
    font-size: 16.1px;
}
.body-confirm-seperator {
    display: flex;
    width: 100%;
    column-gap: 20px;
}
.body-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 17px;
    width: 70%;
    border: 1px solid lightgray;
    background-color: #fff;
    border-radius: 12px;
}
.booked-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    width: 100%;
    margin: 12px 20px;
}
.booking-header {
    display: flex;
    background-color: rgba(13, 14, 53);
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.booking-header label {
    padding: 8px 20px;
    color: rgba(255, 255, 255, .8);
    font-weight: 500;
    font-size: 21.5px;
}
.pricing-information {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.cargo-horizon {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cargo-lot {
    display: flex;
    align-items: start;
    column-gap: 15px;
    padding: 0 30px;
}
.cargo-lot img {
    width: 31px;
}
.cargo-info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    line-height: .7;
}
.cargo-info .field-type {
    color: rgba(36, 36, 36, 0.9);
    font-weight: 700;
    font-size: 17px;
}
.cargo-identification {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.cargo-info .cargo-item {
    color: rgba(13, 14, 53);
    font-weight: 600;
    font-size: 16.2px;
}
.cargo-info .delicate-state {
    color: rgba(48, 48, 48, .9);
    font-weight: 500;
    font-size: 15.1px;
    width: 320px;
    line-height: 1.3;
}
.cargo-info .delicate-state-year {
    color: rgba(48, 48, 48, .9);
    font-weight: 500;
    font-size: 14.6px;
    width: 320px;
    line-height: 1.3;
}
/*PRICING-modeTranspo*/
.pricing-modeTranspo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid lightgray;
    background-color: #fff;
    border-radius: 12px;
}
.transpo-divider {
    display: flex;
    width: 100%;
    height: 2px;
    line-height: 0.1;
}
.mode-transpo {
    display: flex;
    column-gap: 6px;
}
.transpo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 14px;
}
 .transpo-header {
    color: rgba(13, 14, 53);
    font-weight: 600;
    font-size: 22.4px;
}
.transpo-section {
    display: flex;
    align-items: center;
    column-gap: 12px;
    width: 78%;
}
.transpo-section-2 {
    display: flex;
    align-items: center;
    column-gap: 12px;
    width: 100%;
}
.transpo-section img {
    width: 150px;
    height: 60px;
}
.transpo-section hr {
    border-radius: 10px;
    border: 1px solid rgb(13, 14, 53);
}
.transpo-section .prefered-transpo {
    display: flex;
    align-items: center;
    color: rgba(13, 14, 53);
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2.5px rgb(32, 32, 32);
    color: rgba(13, 14, 53, .8);
    padding: 0 8px;
    border-radius: 3px;
    height: 50%;
}

.pricing-modeTranspo hr {
    width: 100%;
    line-height: 0.1;
    border: 2px solid rgba(13, 14, 53);
}
.shipment-price-container {
    display: flex;
    align-items: center;
    column-gap: 3px;
}
.shipment-price-container .currency-sign {
    font-size: 32px;
    color: rgba(48, 48, 48, .9);
}
.shipment-price-container .shipmnent-totalPrice {
    font-size: 50px;
    color: rgba(13, 14, 53);
    font-weight: 100;
    line-height: .8;
}
.done-btn {
    display: flex;
    justify-content: end;
    width: 100%;
    text-decoration: none;
}
.done-btn button {
    background-color: rgba(13, 14, 53);
    color: rgba(255, 255, 255, .8);
    border: none;
    border-radius: 3px;
    padding:  7px 12px;
}

/*VIEW-YOUR-SHIPMENT (PAGE)*/

.invalidation-code-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding: 18px 30px;
    background-color: rgba(41, 86, 235, 0.1);
    border-radius: 12px;
}
.invalidation-code-image {
    display: flex;
    justify-content: space-between;
    column-gap: 12px;
}
.invalidation-code-image img {
    width: 320px;
}
.invalidation-text-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.8px;
}
.invalidation-text-logo .invalidation-Ptext-header {
    font-weight: 600;
    color: rgba(13, 14, 53, .7);
    font-size: 32px;
}
.invalidation-text-logo .invalidation-Stext-header {
    font-weight: 500;
    color: rgba(48, 48, 48, .7);
    font-size: 22.5px;
}
.back-btn {
    display: flex;
    justify-content: end;
}
.back-btn a{
    text-decoration: none;
    color:  rgb(255, 255, 255, .8);
    font-weight: 600;
    background-color: rgba(13, 14, 53, .8);
    padding: 8px 12px;
    border-radius: 7px;
}
.shipping-code-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    column-gap: 20px;
}
/*shipping-code-container 1*/
.shipping-code-container1 {
    display: flex;
    height: 100%;
    width: 65%;
}
.shipping-code-content {
    display: flex;
    align-items: center;
    column-gap: 15px;
    background-color: rgba(41, 86, 235, 0.1);
    padding: 15px 20px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
.shipping-code-text1 {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    text-align: center;
    row-gap: 20px;
    width: 100%;
}
.shipment-admission-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 6px;
}
.shipment-header-section {
    display: flex;
    align-items: center;
    column-gap: 4px;
}
.shipment-header-section img {
    width: 40px;
}
.shipment-admission-header hr {
    width: 100%;
    height: 0;
    border: 1px solid rgb(13, 14, 53, .1);
}
.shipping-statement {
  color: rgba(48, 48, 48, .9);
  font-weight: 700;  
  font-size: 30.7px;
}
.shipping-code {
    color: rgba(13, 14, 53);
    font-weight: 200;  
    font-size: 45px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 120px;
    padding: 0 12px;
    line-height: 1.2;
  }
  .shipment-admission {
    display: flex;
    width: 100%;
}
.shipment-admission-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    width: 100%;
    padding-left: 20px;
}
.shipment-addmision-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.5px;
}
.shipping-text-status {
    font-weight: 800;
    font-size: 15.6px;
    color: rgba(13, 14, 53, .5);
}
.shipping-status {
    display: flex;
    align-items: center;
    column-gap: 4px;
    /*trigger by admin approval*/
    color: rgb(64, 129, 79);
    /* color: rgb(48, 48, 48, .6); */
    background-color: rgb(255, 255, 255, .8);
    border-radius: 120px;
    padding: 2px 12px;
    font-weight: 600;
    font-size: 16px;
}
.shipping-status img {
    width: 20px;
}
    /*shipping-code-container2*/
    .shipping-code-container2 {
        display: flex;
        width: 35%;
        height: 100%;   
    }
  .shipping-image-container {
    display: flex;
    height: 160px;
  }
    .shipping-image-container img{
        width: 100%;
        height: 100%;
    }
    .shipping-code-text2 {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        text-align: center;
        row-gap: 12px;
    }