.signup-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
}
.form-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.01), 0 2px 10px 0 rgba(0, 0, 0, 0.13);
}
.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 9px;
}
.form-header {
  display: flex;
  justify-content: center;
  /* background-color: rgba(145, 128, 240, 0.8); */
}
.form-header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  line-height: 0.7;
}
.form-header-text img.signup-image {
  width: 140px;
}
.form-text-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.form-text-guide label {
  display: flex;
  color: rgb(63, 63, 63);
  font-weight: 600;
  font-size: 35px;
}
.form-text-guide p {
  display: flex;
  color: rgba(66, 66, 66, 0.7);
  font-weight: 500;
  font-size: 20px;
}
.secondary-text {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.form-text-guide a {
  text-decoration: none;
  color: rgba(145, 128, 240);
  font-size: 18px;
  text-decoration: underline;
}

/*VALIDATION-GUIDE*/
.validation-guide {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}
.validation-text {
  font-weight: 600;
}
/*Signup-success*/
.alert-success .bi {
  width: 32px;
  height: 32px;
  fill: rgb(37, 233, 20);
}
/*Duplicate username*/
.alert-danger .bi {
  width: 32px;
  height: 32px;
  fill: rgb(238, 70, 70);
}
/*Form-field*/
.form-field {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-bottom: 20px;
  row-gap: 8px;
}
.form-field-a {
  display: flex;
  width: 100%;
  column-gap: 2%;
}
.form-contents {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
}
.password-overlay {
  position: relative;
  width: 100%;
}
.password-overlay input {
  width: 100%;
}
.peek-password {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 50%;
  right: 1px;
  transform: translate(-50%, -50%);
}
.peek-password img {
  width: 24px;
}
.form-contents label {
  color: rgba(51, 51, 51, 0.6);
  font-weight: 500;
  font-size: 16.1px;
}
.form-contents p.signup-error {
  color: rgb(253, 68, 68);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 2px;
}
.form-contents input {
  border: none;
  box-shadow: 0 0 1px rgb(0, 0, 0);
  padding-left: 12px;
  height: 35px;
  font-weight: 500;
  color: rgb(36, 36, 36);
}
.form-contents input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgb(189, 189, 189);
}
.form-contents input:focus {
  outline: 1px solid rgb(45, 138, 214);
  box-shadow: 0 0 10px rgba(145, 128, 240, 0.5);
}
.submit-button {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}
.submit-button button {
  border: none;
  background-color: rgba(145, 128, 240);
  color: #fff;
  padding: 6px 10px;
  border-radius: 3px;
}
