
/*darken-body*/
.darken-body {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
/*JS-PROMPT STYLES*/
.delete-prompt-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 450px;
    border: 1px solid lightgray;
    z-index: 6;
    border-radius: 3px;
    display: none;
}
.delete-prompt-container {
    display: none;
}

.delete-prompt-container.visible {
    display: flex;
}
.delete-prompt-section {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    padding: 12px;
}
.delete-prompt-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    row-gap: 9px;
}
.delete-prompt-header img {
    width: 50px;
}
.delete-prompt-guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}
.delete-prompt-guide .text-guide {
    font-size: 27px;
    font-weight: 600;
    line-height: 1.4;
}
.delete-prompt-guide .cargo-item {
    font-size: 20px;
    font-weight: 600;
    color: rgba(13, 14, 53, .8);
}
.item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.icon-item {
    display: flex;
    align-items: center;
    column-gap: 9px;
    border: 1px solid rgb(13, 14, 53, .8);
    padding: 4px 30px;
}
.icon-item img {
    width: 22px;
}
.icon-item  label {
    text-decoration: underline;
}
.delete-button-container {
    display: flex;
    justify-content: end;
    width: 100%;
    column-gap: 10px;
}
.delete-button-container button {
    padding: 4px 15px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
}
.delete-button-container button.delete-btn {
    background-color: rgb(240, 49, 49);
    color: rgb(255, 255, 255,.7);
    font-weight: 400;
}
.delete-button-container button.cancel-btn {
    background-color: rgba(13, 14, 53);
    color: rgb(255, 255, 255,.7);
    font-weight: 700;
}


/*table-shipments-container*/
.table-shipments-container { 
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}
.table-shipments {
    display: flex;
    flex-direction: column;
    width: 78%;
}

.table-shipments table {
    width: 100%;
}
.header-table {
    display: flex;
    background-color: rgba(13, 14, 53);
    border-radius: 4px;
    color: rgba(255, 255, 255, .9);
    padding: 5px 25px;
    font-size: 23px;
    font-weight: 900;
    margin-bottom: 4px;
}
/*TBODY*/
.table-shipments table tbody tr {
    height: 54.5px;
    width: 100%;
    transition: .10s all;
    cursor: pointer;
}
/*table-data-container*/
.table-data-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
    width: 96.4%;
    max-height: 540px;
    overflow-y: auto; 
    overflow-x: hidden;
    scroll-behavior: smooth;      
    cursor: pointer;    
    padding: 0 20px;    
    padding-right: 28px;    
}

.table-data-container::-webkit-scrollbar {
    width: 12px;
    padding-left: 24px;   
}

.table-data-container::-webkit-scrollbar-thumb {
    background-color: #e6e6e6; /* Color of the scrollbar thumb */
    border-radius: 2px;
}
.table-data-container::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
}
.table-data-seperator {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: #fff;
    z-index: 0;
    padding: 12px 15px;
}
.table-data-seperator:hover{
    box-shadow: 0 0 10px rgba(173, 173, 173, 0.7);
    border: 1px solid transparent;
}
/*.table-data-leftSection*/
.table-data-leftSection {
    display: flex;
    align-items: center;
    column-gap: 11.5px;
}
.table-data-content .data-content{
    font-size: 16.4px;
    font-weight: 800;
    color: rgba(13, 14, 53, .7);
    text-align: left;
}
.table-data-content {
    display: flex;
    column-gap: 10px;
    font-weight: 600;
    font-size: 15.7px;
    color: rgba(48, 48, 48, .8);
}
.table-date-contentHeader {
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.table-date-contentHeader img {
    width: 15px;
    opacity: 1;
}
.data-gross-weight, .data-delicate {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
p.weight-underline {
    text-decoration: underline;
    font-weight: 700;
    font-size: 17.4px;
    color: rgba(48, 48, 48, .9);
}
/*.table-data-rightSection*/
.table-data-rightSection {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 25.5px;
    color: rgba(48, 48, 48,.8);
    font-weight: 400;
}
.table-data-content2 {
    display: flex;
    align-items: center;
    column-gap: 7px;
    font-size: 15.7px;
}
.table-data-content2 img {
    width: 23px;
}
p.left-underline {
    display: flex;
    column-gap: 7px;
    font-weight: 800;
    font-size: 14.7px;
    color: rgba(48, 48, 48, .8);
}
.table-data-seperator:hover .delete-icon{ 
    opacity: 1;
}
.delete-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 2px;
    border-radius: 100%;
    margin-left: 4px;
    z-index: 6;
    transition: .15s all;
}
.delete-icon {
    display: flex;
    width: 15px;
    height: 15px;
    opacity: 0;
}
.delete-icon-container:hover {
    background-color: rgb(245, 223, 223);
}