
 .custom-modal-width {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 40%;
 }
 /*trigger button calculate weight to*/
 .weight-calculator-trigger {
    background-color: rgba(13, 14, 53);
    color: rgba(255, 255, 255, .8);
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 16px;
 }
 .shipment-seperator-calculator {
    display: flex;
    column-gap: 20px;
    justify-content: start;
    width: 25%;
}
 #calculator-container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-height: 100%;
    border: none;
    border-radius: 3px;
    width: 54%;
 }

 .calculate-header {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    border-bottom: 2px solid rgba(15,16,53, .8);
 }
 .close-calculate {
    position: absolute;
    right: -5px;
    top: -5px;
}
.close-calculate img.close-btn-calculate {
    width: 20px;
}
 .calculate-header label{
    font-size: 24px;
    font-weight: 500;
    line-height: 2;
 }
 .calculate-header img {
    width: 35px;
 }
 #confirm-title {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    font-weight: 700;
    font-size: 30px;
    color: rgb(48, 48, 48, .8);
    border-bottom: none;
}
.form-lot {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.form-container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    height: 100%;
}
.form-seperator {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.form-seperator-section {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    width: 100%;
}
.form-group label {
    width: 100%;
    color: rgba(48, 48, 48);
    font-weight: 500;
    font-size: 17.1px;
    flex: 1;
}
.form-group input {
    font-size: 16.7;
    font-weight: 500;
    border-radius: 3px;
    flex: 1;
}
.delicate-select {
    border: 1px solid lightgray;
    padding: 8px 0;
    padding-left: 12px;
    font-size: 16.7px;
}
.custom-select-container {
    display: flex;
    flex: 1;
    border: 1px solid lightgray;
    padding: 0 2px;
    border-radius: 3px;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 7px;
    border-radius: 3px;
}
.custom-select-options {
    position: absolute;
    bottom: -90px;
    display: none;
    flex-direction: column;
    row-gap: 4px;
    background-color: white;
    border: 1px solid lightgray;
    width: 100%;  
    border-radius: 3px;                                                               
}
.custom-select-options .delicate-type {
    padding: 6px 7px;
    font-size: 17px;
    font-weight: 400;
    color: rgba(48, 48, 48, .7);
}
.delicate-type:hover {
    background-color: rgb(237, 243, 252);
}
.label-info {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.label-info img{
 width: 25px;
 cursor: pointer;
}
.calculate-tooltip {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.calculate-tooltip:hover .tooltip-guide {
    display: flex;
}
.tooltip-guide {
    position: absolute;
    white-space: nowrap;
    right: -320px;
    bottom: -85px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 14.5px;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    z-index: 1;
    display: none;
    row-gap: 12px;
}
.tooltip-guide p {
    font-size: 15px;
    font-weight: 15px;
    font-weight: 500;
    color: rgba(15,16,53, .8);
}
.tooltip-guide p label{
    font-size: 16px;
    font-weight: 500;
    color: rgba(15,16,53);
    border-bottom: 1.3px solid rgba(15,16,53, .6);
    line-height: .9;
}
.overlay-input {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
.overlay-input input {
    border: 1px solid lightgray;
    padding: 8px 0;
    padding-left: 12px;
    font-size: 16.7px;
}
.absolute-guide {
    position: absolute;
    right: 25px;
    top:50%;
    transform: translate(-50%, -50%);
    color: rgba(15,16,53, .7);
    font-weight: 700;
}
.form-group input::placeholder {
    color: rgba(48, 48, 48, .4);
    font-size: 16px;
    font-weight: 500;
}
.calculate-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
}
.calculate-result label {
    font-size: 28px;
    font-weight: 600;
    color: rgba(15,16,53);
}
#pickup-country {
    position: relative;
}
#pickup-country .overlay-options {
    position: absolute;
    bottom: -10px;
}
#calculate-submit-container {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
}
#calculate-submit-container button {
    font-size: 16.7px;
    background-color: rgba(13, 14, 53);
    color: rgba(255, 255, 255, .8);
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
}
#calculate-submit-container .btn.btn-primary {
    background-color: rgba(15,16,53);
    color: rgba(255, 255, 255, 0.9);
}
#calculate-submit-container .btn.btn-secondary {
    background-color: rgb(219, 61, 61);
    color: rgba(255, 255, 255, 0.9);
}
/*calculate-confirmation-prompt*/
#calculate-confirmation-prompt {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#confirm-title label {
    font-size: 20px;
    font-weight: 500;
}
#confirm-title img {
    width: 75px;
    margin-bottom: -15px;
}
#confirmation-guide {
    font-size: 18.7px;
    font-weight: 200;
    color: rgba(48, 48, 48, .7);
}
#confirmation-ok {
    background-color: rgba(15,16,53);
    border: none;
    padding: 8px 16px;
    color: rgb(255, 255, 255, .8);
    font-weight: 300;
    font-size: 16.7px;
}

/*body*/

/*Process*/
.body-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}
.body-section {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 80%;
    padding-bottom: 40px;
}

/*STEPS-CONTAINER*/
.process-section {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 100%;
}
.process-header label {
    color: rgba(48, 48, 48, .9);
    font-size: 33px;
    font-weight: 500;
}
.process-progress-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    width: 100%;
}
.current-progress {
    display: flex;
    justify-content: start;
    flex: 1;
}
.progress-circle-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 12px;
    row-gap: 12px;
}
.progress-circle-label .untraversed-process{
    font-size: 17.7px;
    font-weight: 300;
    color: rgba(48, 48, 48, .5);
}
.progress-circle-label img {
    width: 28px;
}
.progress-circle-label label {
    font-size: 17.7px;
    font-weight: 600;
    color: rgba(13, 14, 53);
}
.current-hr{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
}
.current-hr hr {
    width: 100%;
    border: 1.5px solid rgb(48,48,48, .5);
    border-radius: 1px;
}

/*steps-container*/

/*shipping-form*/
.shipping-form {
    display: flex;
    width: 100%;
    box-shadow: 0 0 .5px rgba(13,14,53);
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}
.shipping-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    padding: 16px 22px;
}
.shipment-form {
    display: flex;
    flex-direction: column;
    width: 68%;
    row-gap: 20px;
}
.shipment-seperator-row {
    display: flex;
    width: 100%;
    column-gap: 20px;
}
.shipment-fields {
    display: flex;
    flex-direction: column;
    row-gap: 3.5px;
    width: 100%;
}
.shipment-fields label {
    font-weight: 500;
    font-size: 16.1px;
    color: rgba(48,48,48, .8);
}
.shipment-select-button {
    position: relative;
    border: 1px solid lightgray;
}
.shipment-fields input, .cForm-select {
    font-weight: 500;
    font-size: 16.7px;
    color: rgb(36, 36, 36);
    border-radius: 3px;
    padding: 8px 0;
    padding-left: 12px;
    padding-right: 3px;
    border: 1px solid lightgray;
}
.error-message {
    color: rgb(240, 66, 66);
    font-weight: 400;
}
/**/
.cForm-select {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.custom-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    z-index: 2;
}

.custom-dropdown option {
    padding: 5px;
}
.cForm-select:focus {
    border: 1px solid lightgray;
    box-shadow: 0 0 1px solid rgb(14, 14, 14);
}
.cForm-select-focus {
    outline: none;
}
.shipment-fields input {
    color: rgb(36, 36, 36);
}
.weight-relative {
    position: relative;
}
.shipment-kilo-overlay {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 20px;
    transform: translate(-50%,-50%);
}
.shipment-fields input::placeholder  {
    color: rgba(48,48,48, .6);
}

/*STEPS-CONTAINER*/
.steps-container {
    display: flex;
    width: 100%;
}
.steps-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    width: 100%;
}
.steps-header {
    font-size: 24px;
}
.numerical-steps {
    display: flex;
    align-items: center;
    column-gap: 6px;
    width: 100%;
}
.numerical-steps p {
    font-size: 18px;
    font-weight: 400;
    color: rgba(48, 48, 48, .6);
}
.numerical-steps label {
    font-size: 18px;
    font-weight: 700;
    color: rgba(15,16,53);
}
.numerical-steps hr {
    display: flex;
    flex: 1;
}
.numerical-steps img {
    width: 20px;
}

/*custom select*/
.bootstrap-select .dropdown-menu .inner li:hover {
      background-color: #f8f9fa !important; /* Hover color */
    }

    .bootstrap-select .dropdown-menu .inner li {
      margin-bottom: 12px !important; /* Row gap */
    }
.shipment-custom-selectContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.shipment-custom-select {
    position: relative;
    display: none;
    flex-direction: column;
    row-gap: 3.5px;
}
.shipment-option:hover {
    background-color: rgb(238, 238, 238);
}
.shipment-custom-select {
    position: relative;
}
.shipment-custom-options {
    position: absolute;
    z-index: 2;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    border: 1px solid lightgray;
}
.shipment-option {
    padding: 5.5px 12px;
}
.book-buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    row-gap: 12px;
    align-items: end;
}
.book-buttonContainer button {
    width: 8%;
    font-size: 16.7px;
    background-color: rgba(13, 14, 53);
    color: rgba(255, 255, 255, .8);
    border: none;
    padding: 8px 12px;
    border-radius: 3px;
}
.price-dashboard {
    display: flex;
    justify-content: end;
    width: 100%;
    column-gap: 12px;
}
.price-dashboard label {
    color: rgba(48, 48, 48, .8);
    font-size: 37.5px;
    font-weight: 200;
}